<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test1ViewController</key>
	<dict>
		<key>className</key>
		<string>test1ViewController</string>
		<key>param</key>
		<dict>
			<key>str</key>
			<string>str</string>
			<key>id</key>
			<string>test1ID</string>
		</dict>
	</dict>
</dict>
</plist>
